*
{
	box-sizing: border-box;
}

::selection
{
	background-color: #FAC;
}


canvas
{
	border: 2px solid #009688;
}


section
{
	display: inline-block;
	float: left;
	margin: 1em;
	border: 1px solid #009688;
	width: 45%;
	min-height: 30em;
	padding: .5em;
}

.imgPeq
{
	margin: 5px;
	border: 1px solid #009688;
	max-width: 240px;
}